@import url(fonts.css);
body {
	font-family: IRANSans !important;
	font-weight: 300;
    background-color: #c3c3c3;
	direction: rtl;
	margin: 0;
}

.book-card {
    display: block;
    text-decoration: none;
}

.book-card:hover {
    cursor: pointer;
}

.invisible {
    display: none;
}

.visible {
    display: block;
}
